body {
  background-color: whitesmoke;
  font-family: "Nunito", sans-serif;
}

.app {
  background: linear-gradient(to right top, #6f86d6 0%, #48c6ef 100%);
  border-radius: 1.25rem;
  border: 4px solid whitesmoke;
  margin: 1.75rem auto 1rem auto;
  max-width: 500px;
  padding: 3rem 2.25rem 1.75rem 2.25rem;
}

.source {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
  margin-bottom: 2rem;
  text-align: center;
}
