body {
  background-color: whitesmoke;
  font-family: "Nunito", sans-serif;
}

.app {
  background-color: pink;
  border-radius: 1.25rem;
  border: 4px solid whitesmoke;
  margin: 1.75rem auto 1rem auto;
  max-width: 500px;
  padding: 3rem 2.25rem 1.75rem 2.25rem;
}
